.global_wrapper {
    margin-top: 50px;
}

.video_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    margin: 10px;
    max-width: 45%;
    border-radius: 15px;
}

video {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    section {
        max-width: 90%;
    }
}